<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1A94FF">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
    <div id="next">
        <div style="position: relative; z-index: 999;">
            <a href="">
                <div class="home-banner">
                    <div class="info">Freeship đơn từ 45k trong thành phố Hồ Chí Minh</div>
                </div>
            </a>
        </div>
    </div>

    <div class="home-page">
        <header id="main-header" class="header">
            <div class="header-container">
                <div class="header-layout">
                    <div class="header-logo">
                        <a href="" class="bookstore-logo">
                            <img src="./assets/image/bookstore-logo.png" alt="bookstore-logo" width="96" height="40">
                            <span>Tốt & Nhanh</span>
                        </a>
                    </div>

                    <div class="search-layout">
                        <div class="header-search">
                            <!-- Search place -->
                            <div class="search-engine-layout">
                                <div class="web-search">
                                    <div class="search-feature-layout">
                                        <img src="./assets/image/search-icon.png" alt="icon-search" class="icon-search">
                                        <input type="text" placeholder="Nhập thông tìn cần tìm" class="search-input">
                                        <button class="search-button">
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- User shortcut -->
                            <div class="header-user-shortcut">
                                <div class="home-img-layout">
                                    <img src="./assets/image/home-icon.png" alt="home-icon">
                                    <a href="">Trang chủ</a>
                                </div>
    
                                <div class="header-account-container">
                                    <img src="./assets/image/header-account-icon.png" alt="account-icon">
                                    <span>Tài khoản</span>
                                    <div class="account-drop-down">
                                        <a href="">
                                            <p title="Thông tin tài khoản" class="account-info">Thông tin tài khoản</p>
                                        </a>
                                        <a href="">
                                            <p title="Đơn hàng của tôi" class="account-info">Đơn hàng của tôi</p>
                                        </a>
                                        <a href="">
                                            <p title="Trung tâm hỗ trợ" class="account-info">Trung tâm hỗ trợ</p>
                                        </a>
                                        <a href="">
                                            <p title="Đăng xuất" class="account-info">Đăng xuất</p>
                                        </a>
                                    </div>
                                </div>
    
                                <!-- Cart shortcut -->
                                <div class="header-cart-container">
                                    <a href="">
                                        <div class="header-cart-layout1 header-cart-layout2">
                                            <div class="cart-wrapper">
                                                <img src="./assets/image/cart-icon.png" alt="cart-icon" class="cart-icon">
                                                <span class="cart-number">0</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="quicklinks-layout">
                            <!-- Quick links -->
                            <div class="quicklinks-container">
                                <a href="">Sách</a>
                                <a href="">Sách tiếng việt</a>
                                <a href="">Sách tiếng anh</a>
                                <a href="">Tiểu thuyết</a>
                                <a href="">Toán học</a>
                                <a href="">Lập trình</a>
                                <a href="">Kinh tế</a>
                                <a href="">Lịch sử</a>
                                <a href="">Y học</a>
                            </div>

                            <!-- User Location -->
                            <div class="location-container">
                                <div class="location-layout">
                                    <img src="./assets/image/location-icon.png" alt="location-icon">
                                    <h4 class="title">Giao đến:</h4>
                                    <div class="address">Q. Bình Tân, P. Bình Trị Đông, Hồ Chí Minh</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- addition-info -->
        <div style="background-color:white" class="addition-info-layout">
            <a href="" class="addition-info-container">
                <div style="color: #003EA1;" class="addition-title">Cam kết</div>
                <div style="display:flex;gap:12px;align-items:center">
                    <div style="display:flex;padding-inline:6px;gap:4px;align-items:center">
                        <img src="./assets/image/tick-icon.png" alt="icon-0" width="20" height="20" class="addition-info-icon">
                        <div style="color:#27272A;font-size:12px;font-weight: 500;white-space:nowrap">100% hàng thật</div>
                    </div>
                    <div style="width:1px;height:20px;background:#EBEBF0"></div>
                    <div style="display:flex;padding-inline:6px;gap:4px;align-items:center">
                        <img src="./assets/image/icon-1.png" alt="icon-0" width="20" height="20" class="addition-info-icon">
                        <div style="color:#27272A;font-size:12px;font-weight: 500;white-space:nowrap">Freeship mọi nơi</div>
                    </div>
                    <div style="width:1px;height:20px;background:#EBEBF0"></div>
                    <div style="display:flex;padding-inline:6px;gap:4px;align-items:center">
                        <img src="./assets/image/icon-2.png" alt="icon-0" width="20" height="20" class="addition-info-icon">
                        <div style="color:#27272A;font-size:12px;font-weight: 500;white-space:nowrap">Hoàn 200% nếu hàng giả</div>
                    </div>
                    <div style="width:1px;height:20px;background:#EBEBF0"></div>
                    <div style="display:flex;padding-inline:6px;gap:4px;align-items:center">
                        <img src="./assets/image/icon-3.png" alt="icon-0" width="20" height="20" class="addition-info-icon">
                        <div style="color:#27272A;font-size:12px;font-weight: 500;white-space:nowrap">30 ngày đổi trả</div>
                    </div>
                    <div style="width:1px;height:20px;background:#EBEBF0"></div>
                    <div style="display:flex;padding-inline:6px;gap:4px;align-items:center">
                        <img src="./assets/image/icon-4.png" alt="icon-0" width="20" height="20" class="addition-info-icon">
                        <div style="color:#27272A;font-size:12px;font-weight: 500;white-space:nowrap">Giao nhanh 2h</div>
                    </div>
                    <div style="width:1px;height:20px;background:#EBEBF0"></div>
                    <div style="display:flex;padding-inline:6px;gap:4px;align-items:center">
                        <img src="./assets/image/icon-5.png" alt="icon-0" width="20" height="20" class="addition-info-icon">
                        <div style="color:#27272A;font-size:12px;font-weight: 500;white-space:nowrap">Giá siêu rẻ</div>
                    </div>
                </div>   
            </a>
        </div>



        <main>
            <div class="cart-main-component">
                <!-- Cart title -->
                <div class="main-title">
                    <h4>GIỎ HÀNG</h4>
                </div>

                <div class="cart-main-content">
                    <!-- Cart left -->
                    <div class="cart-left">
                        <!-- Empty cart -->
                        <div class="style-empty-cart">
                            <div class="empty">
                                <img src="./assets/image/empty-cart.png" alt="empty cart" width="160" height="160">
                                <p class="empty-message1">Giỏ hàng trống</p>
                                <p class="empth-message2">Bạn tham khảo thêm các sản phẩm được gợi ý bên dưới nhé!</p>
                            </div>

                            <!-- Interested products -->
                            <div class="interested-products">
                                <!-- Interested products header -->
                                <div class="interested-products-header">
                                    <div class="inter-header-title">
                                        <div style="display: flex;gap: 8px;align-items: center;">
                                            <div class="title">Sản phẩm bạn quan tâm</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Interested products content -->
                                <div class="interested-products-content">
                                    <div class="content">
                                        <div class="products-list">
                                            <!-- Product item -->
                                            <div class="product-item-wrapper" style="display: -webkit-box;width: 208.667px;">
                                                <div style="height: 100%; width: 100%">
                                                    <a href="" class="interested-product-link">
                                                        <span class="interested-product-item">
                                                            <!-- Product image -->
                                                            <div style="position: relative;">
                                                                <div class="thumbnail-style">
                                                                    <div class="image-wrapper">
                                                                        <picture class="webpimg-container">
                                                                            <source type="image/webp" srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x">
                                                                        <img srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x" class="style-image" style="width: 100%;height: 100%;opacity:1;">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Product content -->
                                                            <div class="interested-product-content">
                                                                <div class="info">
                                                                    <div style="display: flex;flex-direction: column;gap: 4px;">
                                                                        <div class="name-wrapper" style="display: flex;flex-direction: column;gap: 4px;height: 58px;">
                                                                            <h3 class="interested-product-name">Chat GPT thực chiến</h3>
                                                                        </div>
                                                                        
                                                                        <div class="price-and-discount-style">
                                                                            <div class="price-discount">
                                                                                <div class="price" style="color: rgb(255, 66, 78)">99.000<sup>₫</sup></div>
                                                                            </div>
                                                                            <div style="display: flex;gap: 4px;height: 18px;">
                                                                                <div class="discount">-41%</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div style="display: flex;flex-direction: column;gap: 8px;">
                                                                    <div style="display: flex;flex-direction: column;gap: 6px;">
                                                                        <div class="import-info"></div>
                                                                        <div class="delivery-info delivery-info-style">
                                                                            <span>Giao nhanh siêu tốc</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="product-item-wrapper" style="display: -webkit-box;width: 208.667px;">
                                                <div style="height: 100%; width: 100%">
                                                    <a href="" class="interested-product-link">
                                                        <span class="interested-product-item">
                                                            <!-- Product image -->
                                                            <div style="position: relative;">
                                                                <div class="thumbnail-style">
                                                                    <div class="image-wrapper">
                                                                        <picture class="webpimg-container">
                                                                            <source type="image/webp" srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x">
                                                                        <img srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x" class="style-image" style="width: 100%;height: 100%;opacity:1;">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Product content -->
                                                            <div class="interested-product-content">
                                                                <div class="info">
                                                                    <div style="display: flex;flex-direction: column;gap: 4px;">
                                                                        <div class="name-wrapper" style="display: flex;flex-direction: column;gap: 4px;height: 58px;">
                                                                            <h3 class="interested-product-name">Chat GPT thực chiến</h3>
                                                                        </div>
                                                                        
                                                                        <div class="price-and-discount-style">
                                                                            <div class="price-discount">
                                                                                <div class="price" style="color: rgb(255, 66, 78)">99.000<sup>₫</sup></div>
                                                                            </div>
                                                                            <div style="display: flex;gap: 4px;height: 18px;">
                                                                                <div class="discount">-41%</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div style="display: flex;flex-direction: column;gap: 8px;">
                                                                    <div style="display: flex;flex-direction: column;gap: 6px;">
                                                                        <div class="import-info"></div>
                                                                        <div class="delivery-info delivery-info-style">
                                                                            <span>Giao nhanh siêu tốc</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="product-item-wrapper" style="display: -webkit-box;width: 208.667px;">
                                                <div style="height: 100%; width: 100%">
                                                    <a href="" class="interested-product-link">
                                                        <span class="interested-product-item">
                                                            <!-- Product image -->
                                                            <div style="position: relative;">
                                                                <div class="thumbnail-style">
                                                                    <div class="image-wrapper">
                                                                        <picture class="webpimg-container">
                                                                            <source type="image/webp" srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x">
                                                                        <img srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x" class="style-image" style="width: 100%;height: 100%;opacity:1;">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Product content -->
                                                            <div class="interested-product-content">
                                                                <div class="info">
                                                                    <div style="display: flex;flex-direction: column;gap: 4px;">
                                                                        <div class="name-wrapper" style="display: flex;flex-direction: column;gap: 4px;height: 58px;">
                                                                            <h3 class="interested-product-name">Chat GPT thực chiến</h3>
                                                                        </div>
                                                                        
                                                                        <div class="price-and-discount-style">
                                                                            <div class="price-discount">
                                                                                <div class="price" style="color: rgb(255, 66, 78)">99.000<sup>₫</sup></div>
                                                                            </div>
                                                                            <div style="display: flex;gap: 4px;height: 18px;">
                                                                                <div class="discount">-41%</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div style="display: flex;flex-direction: column;gap: 8px;">
                                                                    <div style="display: flex;flex-direction: column;gap: 6px;">
                                                                        <div class="import-info"></div>
                                                                        <div class="delivery-info delivery-info-style">
                                                                            <span>Giao nhanh siêu tốc</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="product-item-wrapper" style="display: -webkit-box;width: 208.667px;">
                                                <div style="height: 100%; width: 100%">
                                                    <a href="" class="interested-product-link">
                                                        <span class="interested-product-item">
                                                            <!-- Product image -->
                                                            <div style="position: relative;">
                                                                <div class="thumbnail-style">
                                                                    <div class="image-wrapper">
                                                                        <picture class="webpimg-container">
                                                                            <source type="image/webp" srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x">
                                                                        <img srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x" class="style-image" style="width: 100%;height: 100%;opacity:1;">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Product content -->
                                                            <div class="interested-product-content">
                                                                <div class="info">
                                                                    <div style="display: flex;flex-direction: column;gap: 4px;">
                                                                        <div class="name-wrapper" style="display: flex;flex-direction: column;gap: 4px;height: 58px;">
                                                                            <h3 class="interested-product-name">Chat GPT thực chiến</h3>
                                                                        </div>
                                                                        
                                                                        <div class="price-and-discount-style">
                                                                            <div class="price-discount">
                                                                                <div class="price" style="color: rgb(255, 66, 78)">99.000<sup>₫</sup></div>
                                                                            </div>
                                                                            <div style="display: flex;gap: 4px;height: 18px;">
                                                                                <div class="discount">-41%</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div style="display: flex;flex-direction: column;gap: 8px;">
                                                                    <div style="display: flex;flex-direction: column;gap: 6px;">
                                                                        <div class="import-info"></div>
                                                                        <div class="delivery-info delivery-info-style">
                                                                            <span>Giao nhanh siêu tốc</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="product-item-wrapper" style="display: -webkit-box;width: 208.667px;">
                                                <div style="height: 100%; width: 100%">
                                                    <a href="" class="interested-product-link">
                                                        <span class="interested-product-item">
                                                            <!-- Product image -->
                                                            <div style="position: relative;">
                                                                <div class="thumbnail-style">
                                                                    <div class="image-wrapper">
                                                                        <picture class="webpimg-container">
                                                                            <source type="image/webp" srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x">
                                                                        <img srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x" class="style-image" style="width: 100%;height: 100%;opacity:1;">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Product content -->
                                                            <div class="interested-product-content">
                                                                <div class="info">
                                                                    <div style="display: flex;flex-direction: column;gap: 4px;">
                                                                        <div class="name-wrapper" style="display: flex;flex-direction: column;gap: 4px;height: 58px;">
                                                                            <h3 class="interested-product-name">Chat GPT thực chiến</h3>
                                                                        </div>
                                                                        
                                                                        <div class="price-and-discount-style">
                                                                            <div class="price-discount">
                                                                                <div class="price" style="color: rgb(255, 66, 78)">99.000<sup>₫</sup></div>
                                                                            </div>
                                                                            <div style="display: flex;gap: 4px;height: 18px;">
                                                                                <div class="discount">-41%</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div style="display: flex;flex-direction: column;gap: 8px;">
                                                                    <div style="display: flex;flex-direction: column;gap: 6px;">
                                                                        <div class="import-info"></div>
                                                                        <div class="delivery-info delivery-info-style">
                                                                            <span>Giao nhanh siêu tốc</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="product-item-wrapper" style="display: -webkit-box;width: 208.667px;">
                                                <div style="height: 100%; width: 100%">
                                                    <a href="" class="interested-product-link">
                                                        <span class="interested-product-item">
                                                            <!-- Product image -->
                                                            <div style="position: relative;">
                                                                <div class="thumbnail-style">
                                                                    <div class="image-wrapper">
                                                                        <picture class="webpimg-container">
                                                                            <source type="image/webp" srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x">
                                                                        <img srcset="./assets/image/book_picture_01.webp 1x, ./assets/image/book_picture_01.webp 2x" class="style-image" style="width: 100%;height: 100%;opacity:1;">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Product content -->
                                                            <div class="interested-product-content">
                                                                <div class="info">
                                                                    <div style="display: flex;flex-direction: column;gap: 4px;">
                                                                        <div class="name-wrapper" style="display: flex;flex-direction: column;gap: 4px;height: 58px;">
                                                                            <h3 class="interested-product-name">Chat GPT thực chiến</h3>
                                                                        </div>
                                                                        
                                                                        <div class="price-and-discount-style">
                                                                            <div class="price-discount">
                                                                                <div class="price" style="color: rgb(255, 66, 78)">99.000<sup>₫</sup></div>
                                                                            </div>
                                                                            <div style="display: flex;gap: 4px;height: 18px;">
                                                                                <div class="discount">-41%</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div style="display: flex;flex-direction: column;gap: 8px;">
                                                                    <div style="display: flex;flex-direction: column;gap: 6px;">
                                                                        <div class="import-info"></div>
                                                                        <div class="delivery-info delivery-info-style">
                                                                            <span>Giao nhanh siêu tốc</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cart right -->
                    <div class="cart-right">
                        <div class="right-inner" style="top: -247.2px;">
                            <!-- Address block and Coupon block -->
                            <div>
                                <!--Address block -->
                                <div class="section-container address-block">
                                    <!-- block header -->
                                    <div class="block-header">
                                        <h3 class="block-header-title">Giao tới</h3>
                                        <a href="" class="block-header-nav">Thay đổi</a>
                                    </div>

                                    <!-- Customer info -->
                                    <div class="customer-info">
                                        <p class="customer-info-name">nguyen vo anh khoa</p>
                                        <i></i>
                                        <p class="customer-info-phone">0909091232</p>
                                    </div>

                                    <!-- Address -->
                                    <div class="address">
                                        <span class="address-type address-type-home">Nhà</span>
                                        56/12/34 abc Phường xyz, Quận qwe, asdfghjk
                                        <p class="warning-message"></p>
                                    </div>
                                </div>

                                <!-- Coupon block -->
                                <div class="section-container coupon-block">
                                    <div class="block-header">
                                        <div class="block-header-title">Khuyến Mãi</div>
                                        <div class="block-header-usage">
                                            <span>Có thể chọn</span>
                                        </div>
                                    </div>

                                    <div class="coupon-list"></div>

                                    <!-- show more -->
                                    <div class="show-more" title="Chọn hoặc nhập mã khác">
                                        <span class="coupon-guide">Chọn hoặc nhập mã khác</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Price summary -->
                            <div class="price-summary">
                                <!-- Prices items -->
                                <ul class="prices-items">
                                    <li class="prices-item">
                                        <div class="prices-text">Tạm tính</div>
                                        <div class="prices-value">0<sup>₫</sup></div>
                                    </li>
                                    <li class="prices-item">
                                        <div class="prices-text">Giảm giá</div>
                                        <div class="prices-value">0<sup>₫</sup></div>
                                    </li>
                                </ul>

                                <!-- Prices total -->
                                <div class="prices-total">
                                    <div class="prices-text prices-text-final">Tổng tiền</div>
                                    <div class="prices-content">
                                        <div class="prices-value prices-value-empty">Vui lòng chọn sản phẩm</div>
                                        <span class="prices-value-noted">(Đã bao gồm VAT nếu có)</span>
                                    </div>
                                </div>

                                <!-- Prices total button -->
                                <div class="prices-total-button">Mua Hàng (0)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>




        <!-- Footer -->
        <footer class="footer">
            <div class="footer-infomation">
                <div class="footer-info-container" style="display: flex; justify-content: space-between;">
                    <div class="block">
                        <h4 class="footer-heading">Hỗ trợ khách hàng</h4>
                    </div>
                    <div class="block" >
                        <h4 class="footer-heading">Về trang web</h4>
                    </div>
                    <div class="block">
                        <h4 class="footer-heading">Phương thức liên kết</h4>
                    </div>
                    <div class="block">
                        <h4 class="footer-heading">Kết nối với chúng tôi</h4>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>